<html>
    <head>
        <link rel="stylesheet" href="register.css">
    </head>
    <body>
        <h1>Вы закончили тест!</h1>
        <h2>Результаты</h2>
        
        <table class="confirm_table">
            <tbody>
                <tr>
                    <td>Ваш балл</td>
                    <td>
                        {{count}}
                    </td>
                </tr>
                <tr>
                    <td>Ошибки в вопросах</td>
                    <td>
                        {{error_list}}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>